[2013-08-21 17:03] dginev opened #1 "Support equations and eqnarrays in MediaWiki"
We want to be able to write:

[code]

in the MarkDown of a page, with or without <math> tags around it and get the sensible HTML out. Ideally we can also reconsider using dollar signs etc. instead of the <math> tags.

[2013-08-21 17:18] dginev opened #2 "Content Adoption Workflow"
We need to devise a workflow for the incoming students as to how they can effectively adopt content from the sources we have gained permission to incorporate.

So far we are thinking of:
- Assign topics/chapters to individual students
- Start with DLMF (best LaTeX sources) and use it as training of the various macros.
- We need all permalinks from DLMF copied together with the formulas.
- Then pro

[2013-08-21 17:20] dginev opened #3 "LaTeX citations for DRMF"
In #2  we mention that we want all citations from the original sources copied over to DRMF so we need a BibTeX-like centralized bibliography for DRMF.

We should brainstorm on the technology and implement it.

[2013-08-21 17:21] dginev opened #4 "LaTeX labels/references for DRMF"
Again for #2, a mechanism akin to \label and \ref would be great to have to refer to formulas.

However, since we're in a Wiki context, this might just work with JavaScript and the Wiki [page] markers.

[2013-08-21 17:28] dginev opened #5 "Change management of Formula pages"
When a formula is revised to the point of a typo being corrected or a notation improved/adapted, or more syntactic sugar added, the current scheme of having the source of the formula as the Wiki page name falls short.

If we keep the scheme, we need a new Wiki page for the revised formula, **however** we would want to keep the **entire** edit history of the previous formula page, as well as the or

[2013-08-21 17:29] dginev opened #6 "Migration to SIAM/(? Final destination)"
We will add a lot of content initially on a local deployment NIST or Jacobs and only at the end migrate to SIAM.

We should investigate existing solutions for migrating MediaWiki installations.

[2013-08-21 17:39] dginev opened #7 "Formula Constraints"
Most complex formulas come with constraints, both as follow-up subformulas or as fragments in the surrounding text.

As the components are "meaningless" (loosely speaking) on their own, we have to design a workflow that keeps all related components together for most editing operations, and interactions...

This will be one the first things we'll collide with, so it has relatively high priority.

[2013-08-21 17:54] dginev opened #8 "LaTeX to MarkDown workflow"
We have a lot of original LaTeX sources that we want to insert in MediaWiki, which means:
- Convert all narrative LaTeX into MarkDown
- Copy over the LaTeX formulas (_subset of Math LaTeX_)

We can use right away the [online Pandoc converter](http://johnmacfarlane.net/pandoc/try/) and in the long run we can develop a LaTeXML post-processor stylesheet that creates MarkDown.

[2013-08-21 17:56] dginev opened #9 "MathWebSearch for DRMF"
- Just install MathWebSearch and index DRMF.
- Develop a search bar (MediaWiki extension for MWS)
- Coordinate with Prode.

[2013-08-21 18:10] dginev opened #10 "Recover content from grad"
There is a template for DRMF and some initial content hidden in the grad installation, which sadly broke down.

Maybe I can recover some parts of that.

[2013-08-21 18:39] dginev opened #11 "<latex> extension for MediaWiki"
Akin to the <math></math> trigger that enables LaTeXML parsing, we could have a <latex></latex> trigger that enables general LaTeX parsing, so that we could easily insert citations, labels and other LaTeX content.

Possibly a simple extension on top of the Math extension where we add an extra tag.

[2013-08-21 18:46] dginev opened #12 "Track page visits, hit counts"
We are interested in the popularity of the different formula pages.

[2013-08-21 18:57] dginev opened #13 "Copyright for the DRMF content"
We have to decide if we want an open copyright license, such as Wikipedia's and PlanetMath's or a more restrictive one, such as DLMF's.

We have to decide this **before** any of the content is released.

[2013-08-27 20:55] #10 closed, assigned to dginev

[2013-09-05 18:24] HowardCohl opened #14 "Titles for Formula Pages"
When I try to create a generating function formula page which doesn't exist, many times MediaWiki complains, "Bad title"

[2013-09-05 18:29] HowardCohl opened #15 "Selecting pre-existing formula page brings to Main page and indicates 'MediaWiki has been successfully installed'"
For the third generating function, if I select 'Formula page' it brings me to a page which states .. .'Main page' and then indicates 'MediaWiki has been successfully installed'

[2013-09-05 18:33] HowardCohl opened #16 "Workaround for caching issue"
Can you remind me what Moritz's resolution to the caching issue was?  Can this be fully implemented so we don't have this problem again?

[2013-09-05 18:53] HowardCohl opened #17 "extra underscore in front of formula in formula page and wrong _{n%}"
In certain generating functions such as the first generating function in the "Generating function for Chebyshev polynomials of the first kind" section when I enter the formula page it renders the formula incorrectly with a subscript "n%".

Also, there is an incorrect underscore in front of the formula which is appears in the formula page.  (It renders properly in the original page)

[2013-09-05 18:57] HowardCohl opened #18 "Titles need to be redone. They currently contain gobbledegook."
The title of a formula page has all this gobbledegook.  For instance for the first generating function in the "Generating function for Chebyshev polynomials of the first kind" section when I enter the formula page for the title it reads

"Obrc\displaystyle\ \fracobrc1-z^obrc2cbrccbrcobrc1-2xz+z^obrc2cbrccbrc=1+2\sumwmuscoreobrcn=1cbrc^obrc\inftycbrc\mathopobrcTwmuscoreobrcn% cbrc\/cbrc\nolimits!\l

[2013-09-06 01:08] HowardCohl opened #19 "Gobbledygook in title of formula pages"
The title of a formula page has all this gobbledegook.  For instance for the first generating function in the "Generating function for Chebyshev polynomials of the first kind" section when I enter the formula page for the title it reads

"Obrc\displaystyle\ \fracobrc1-z^obrc2cbrccbrcobrc1-2xz+z^obrc2cbrccbrc=1+2\sumwmuscoreobrcn=1cbrc^obrc\inftycbrc\mathopobrcTwmuscoreobrcn% cbrc\/cbrc\nolimits!\l

[2013-09-06 20:06] HowardCohl opened #20 "Math doesn't seem to render on Internet Explorer"
We tried to demo the DRMF today at Poolesville, High School.  They only had Internet Explorer on their machines and the mathematics didn't render.  There was red text saying that there was an error in processing the mathematics.

[2013-09-09 15:27] HowardCohl opened #21 "Accounts for students"
Any chance we can get accounts set up on the machine in Jacob's University in Bremen for the two students who are ready to start working?

[2013-09-09 16:01] HowardCohl opened #22 "Develop expertise using pywikibot to automate creation of pages"
pywikipediabot is a framework for doing automated tasks in MediaWiki. It lets you write very simple python programs to do complicated things with mediawiki. for instance for the creation of pages.

We can create an appropriate input file containing the list of equations with constraints and a list of relevant urls and a list of relevant bibliographic citations and then we can use pywikipediabot to

[2013-09-12 16:25] HowardCohl opened #23 "Extend Math Menu extension"
Content MathML right click on formula produced in the buffer

[2013-09-14 17:38] #23 closed, assigned to dginev

[2013-09-15 00:17] #16 closed, assigned to nobody

[2013-09-16 17:59] HowardCohl opened #24 "Linux currently non-working issue?"
Last night I checked the DRMF wiki and it seemed to be working just fine.  However, today when I try to access the JOBAD features on my CentOS machine in my office, when I right click on a formula, I get the same menu as if I clicked anywhere, i.e. Back, Reload, etc.

[2013-09-18 16:07] dginev opened #25 "Errata for DRMF"
@HowardCohl has informed me that a long discussion on errata has taken place, the consensus being that errata pages need to be archived for future reference. There is also a need for bi-directional connections between the current version of a page and the previous errata pages.

This functionality should be ideally realized as a separate DRMF-errata extension for MediaWiki.

[2013-09-19 20:58] HowardCohl opened #26 "Do we want an index?"
etc.

[2013-09-20 18:35] HowardCohl opened #27 "Fall back link to formula page"
In case JOBAD stops working, it would be nice to have a link on the page to go to the formula page.

[2013-09-21 22:49] HowardCohl opened #28 "Size of font in math needs to be increases so that it is the same size as font in text"
The size of fonts in the math rendering is too small.  It needs to be the same as the font size in the text.  An example of where this is done correctly is in MathSciNet.

[2013-09-22 00:43] #28 closed, assigned to dginev

[2013-09-23 12:54] HowardCohl opened #29 "Fonts for section titles are way too big"
Compare for instance with the size of fonts for section titles in Wikipedia.

[2013-09-24 02:44] #29 closed, assigned to dginev

[2013-09-24 03:17] HowardCohl opened #30 "JOBAD on DRMF doesn't seem to work on Safari"
Right clicking on the formula doesn't seem to produce the appropriate menu.

[2013-09-24 19:33] HowardCohl opened #31 "Symbols Lists for Formula Pages"
We need to implement the 'see also' list of DLMF macros which are used in the formula in the formula page with corresponding descriptions so that the person reading the formula can determine what the symbols are.

Implementation strategy:
- Start with embedding the DLMF permalinks as part of the macro definitions (introduce an extra argument / keyvalue).
- Base on Howard's wonderful glossary templ

[2013-09-25 13:17] HowardCohl opened #32 "Develop a scheme/outline to update, incorporate and publish existing/new DLMF macros"
We are adding new DLMF macros for use in DRMF.  These need to be coordinated and made consistent by discussing with Bruce Miller and ultimately these should be published.

[2013-09-25 13:18] HowardCohl opened #33 "Implement automatic line breaking ala breqn package with DRMF"
The automatic line breaking package breqn needs to ensure working functionality on DRMF.

[2013-09-25 23:40] #14 closed, assigned to dginev

[2013-09-25 23:40] #19 closed, assigned to dginev

[2013-09-25 23:40] #18 closed, assigned to dginev

[2013-09-25 23:40] #17 closed, assigned to dginev

[2013-09-25 23:41] #15 closed, assigned to dginev

[2013-09-25 23:42] #27 closed, assigned to dginev

[2013-09-26 12:54] HowardCohl opened #34 "Define \defConstant (or some appropriate name) for LaTeXML for DLMF macros"
I am inserting Catalan's constant in the file DLMFmath.sty

There I give the command as :

\DeclareRobustCommand{\CatalansConstant}{G}

However, I am confused about something.  If you look in the file DLMFfcns.sty for a special function such as:

\defSpecFun{FerrersP}[2][]{\mathsf{P}\ifx.#1.\else^{#1}\fi_{#2}}[meaning=Ferrers-Legendre-P-first-kind]{1}

This command has a meaning associated with th

[2013-09-26 14:49] #24 closed, assigned to dginev

[2013-11-09 19:05] physikerwelt opened #35 "can you document the changes we have done to be comatible with psql?"

[2013-11-09 21:27] #35 closed, assigned to nobody

[2013-11-12 18:10] HowardCohl opened #36 "markdown formatting problem"
On the webpage:
http://drmf.mathweb.org/wiki/Formula:example

The formatting in the markdown is corrupted. The text before the equation is on the same first line of the equation and all the text after the equation is on the same last line of the equation.  The result is that no sectioning occurs in the markdown. I've tried to alter the markdown to include the appropriate vertical spaces, but when

[2013-12-12 17:42] dginev opened #37 "Extend MediaWiki caching to Formulas"
Currently, the caching exhibits a whole lot of glitches, as it is not coupled properly with the formula content. Here is a brief description:
- Mortiz' Math extension has caching enabled on a hash key of the formula
- However, we also to extend that mechanism to respect labels (i.e. label change triggers updating the cache)
- We need to properly testdrive any enhancement with the workflow:
  - Edi

[2013-12-12 17:45] dginev opened #38 "DRMF Template with new FormulaPage handling"
The current Formula Page code in the math Extension just hardcodes an example empty template page, which contains the formula.

We should allow to users to specify their own templates, e.g. the way MultiBoilerplate does it, via a special template page. Ideally transfer the implementation idea of MultiBoilerplate into a clone of that extension, but specially hooked with the Formula Page logic.

[2013-12-12 17:55] dginev opened #39 "ENSURE LaTeXML and DRMF efficiency"
The performance of the LaTeXML web service crucially impacts the user experience while working with DRMF.

It is extremely important we are as efficient as possible.
- Check that Apache properly reuses processes
- Profile again the web service on DRMF data specifically
- Check if there high latency for unreasonable reasons.

Then check if there is anything MediaWiki-specific that slows down DRMF.

[2013-12-12 18:02] dginev opened #40 "Copy the semantic TeX from formulas"
Once we can preserve the semantic to the output, as described in:
https://trac.mathweb.org/LaTeXML/ticket/1756

we should add the trivial extension to the JOBAD MathMenu module, which changes the "Copy TeX" into two submenus "Copy raw TeX" and "Copy Author's TeX" (i.e. before it got expanded, and still had all DLMF macros in place).

[2013-12-12 21:07] dginev opened #41 "Bag of words Search Engine"
Basically Howard tells me that he wants Bruce's search engine applied to DRMF. The desire is to have a "bag of keywords" search, essentially extending a mint Lucene isntallation with special treatment for the DLMF macros and other TeX macros.

An example query is:
http://dlmf.nist.gov/search/search?q=expe+bessely+besselk

Where the user request was " I want to know of all formulas that contain the

[2014-02-18 16:32] #4 closed, assigned to dginev

[2014-02-18 21:11] HowardCohl opened #42 "Karma based checking system for formulae data"
As far as community arm insertion of formulae data, as suggested by Michael Kohlhase, we are intending to adopt and implement a karma based checking system to ensure input data conforms to our exact specifications.  This will be followed up by a review panel review of input data to make decisions for final uploading.  I am intending to hire a SURF student this summer to work on the development of

[2014-02-18 21:59] HowardCohl opened #43 "DRMF technology stack"
It was mentioned by Deyan that the technology stack he has been developing in is to write in LaTeX/BibTeX and have LaTeXML convert the content to HTML and to integrate+serve the workflow via a MediaWiki installation.  This thread it to debate this scheme to see whether this model still fits in my vision of how the development should proceed.

It seems to me that the goal is to produce the correct

[2014-08-07 15:46] #37 closed, assigned to nobody

[2014-08-14 18:51] #5 closed, assigned to dginev

[2014-08-14 18:56] #8 closed, assigned to dginev

[2014-08-14 19:07] #12 closed, assigned to nobody

[2014-08-14 19:15] #9 closed, assigned to nobody

[2014-08-14 19:22] #20 closed, assigned to nobody

[2014-08-14 19:23] #21 closed, assigned to HowardCohl

[2014-08-14 19:24] #22 closed, assigned to HowardCohl

[2014-08-14 19:25] #25 closed, assigned to nobody

[2014-08-14 19:25] #26 closed, assigned to nobody

[2014-08-14 19:27] #30 closed, assigned to nobody

[2014-08-14 19:28] #36 closed, assigned to nobody

[2014-08-14 20:04] #33 closed, assigned to nobody

[2014-08-14 20:17] #38 closed, assigned to nobody

[2014-08-18 19:47] #6 closed, assigned to HowardCohl

[2015-03-23 14:19] physikerwelt commented on #41
That's a build in feature of the latest update in the MediaWiki CirrusSearch extension that accesses elastic search. See for instance
http://drmf-beta.wmflabs.org/w/index.php?title=Special%3ASearch&profile=default&search=insource%3A%22\Riemannzeta%22+and+insource%3A%22\Eulergamma%22&fulltext=Search

[2015-03-23 14:19] #41 closed

[2015-03-23 14:25] physikerwelt commented on #40
![screenshot-wilson - devwiki - mozilla firefox](https://cloud.githubusercontent.com/assets/2777736/6781783/914c57ae-d146-11e4-80fc-cac5e5121f78.png)
Can be done with Firefox extension MathML Copy
https://addons.mozilla.org/de/firefox/addon/mathml-copy/?src=userprofile

[2015-03-23 14:25] #40 closed

[2015-03-23 14:32] physikerwelt commented on #1
@HowardCohl the problem remains unchanged. Do we need this in the near future?

[2015-03-23 14:33] HowardCohl commented on #1
We are not going to need eqnarray environments in DRMF.

[2015-03-23 14:33] #1 closed

[2015-03-23 15:08] physikerwelt commented on #39
I think the MediaWiki part is fine.
 0.15356s for http://drmf-beta.wmflabs.org/wiki/Zeta_and_Related_Functions
sounds reasonable.
Sequential requests to the external server are not optimal. However, using the visual editor each request is being sent individually.

[2015-03-23 15:52] dginev commented on #39
It's been 2 years and Apache's mod_perl still has no support for websockets. I'm disappointed.

The core improvement I have in mind is using websockets for continuous editing, which makes a big difference in responsiveness. There is an easy way to achieve that by ditching Apache and using nginx+Mojolicious, I should try to allocate some time and get it done. I need the LaTeXML web service to look

[2015-03-24 11:11] physikerwelt commented on #32
I think this is resolved. We have a consistent naming, latex definition and argument description convention. Currently all are in the DRMF CD I think that should be improved. But maybe we can close this bug and create more specific reports with the lable Macros attached.

[2015-03-24 11:54] HowardCohl commented on #32
What are lable macros?

[2015-03-24 13:26] physikerwelt commented on #13
Currently there is no copyright status on the page.
Normally there is a line under the wiki indicating the copyright status.
For demo.formulasearchengine.com it's for example
[code]
See also
https://www.mediawiki.org/wiki/Manual:Copyright
I'm not sure if that's required by law, or if we can just fallback to the defaults.

[2015-03-24 13:28] physikerwelt commented on #13
See for DLMF http://dlmf.nist.gov/about/notices

[2015-03-24 13:29] physikerwelt commented on #32
Labels are used to organize bugs
https://github.com/DRMF/DRMF/labels/Macros

[2015-03-24 13:33] physikerwelt opened #44 "Update search index on the fly"
See upstream https://phabricator.wikimedia.org/T93744

[2015-03-24 13:36] physikerwelt opened #45 "Develop quality measures"
We refer to good content MathML without to describe what we mean by good.

[2015-05-26 20:36] physikerwelt opened #47 "latest latexml update causes failing MathSearch integration tests"
see
https://integration.wikimedia.org/ci/job/mwext-MathSearch-testextension-zend/232/console

after merging
https://github.com/brucemiller/LaTeXML/issues/549

[2015-05-27 00:38] HowardCohl commented on #47
Do you think this has to do with this? :

Moritz, when I ran perl Makefile.PL it complained

Warning: the following files are missing in your kit:
lib/LaTeXML/Package/svg.cls.ltxml
Please inform the author.

[2015-05-28 10:17] physikerwelt commented on #47
Mh. This is a problem. But I'm not sure if that's related. The funny thing is that the problem occours only for the specific configuratioin used in the test
[code]
I had a look at http://dlmf.nist.gov/LaTeXML/manual/commands/latexmlpost.html if there is a new option that disables or enables the tex annotation... but I chould not find one.
Maybe @dginev or @brucemiller have an idea where to start d

[2015-05-28 11:00] physikerwelt commented on #47
However, I just removed the tex annotation from the test file. Now the test work again
[code]

[2015-05-28 11:00] #47 closed

[2015-05-28 11:19] brucemiller commented on #47
FWIW, the default (for some period of time?) had been to automatically add the TeX annotation whenever parallel markup was being created.  This was kinda inconsistent, and didn't give you a way to get the annotation w/pMML by itself.  Thus a new option was added ```--mathtex``` that adds it.

[2015-05-28 11:28] physikerwelt commented on #47
@brucemiller: Just for future reference... will this option appear here http://dlmf.nist.gov/LaTeXML/manual/commands/latexmlpost.html when the website is updated the next time... or is there a better way to list the available options?

[2015-05-28 11:30] brucemiller commented on #47
```latexmlpost --help```

[2015-05-28 11:33] physikerwelt commented on #47
ok found it... I was looking in the math section only.

[2015-06-16 21:11] physikerwelt opened #48 "Add yourself to the MathSearch Project on phabricator"
https://phabricator.wikimedia.org/project/members/737/

[2015-06-17 07:10] physikerwelt opened #49 "Improve Uploading and Connecting Guide"
Follow the instructions on

https://github.com/DRMF/DRMF/blob/master/doc/Uploading%20and%20Connecting%20to%20DRMF

and try to improve the documentation.
Screenshots would be apprechiated.
See also http://www.formulasearchengine.com/sites/formulasearchengine.com/files/How%20to%20review%20the%20math%20extension_0.pdf for a guide that explains how the review can be done from home.
I imagine something

[2015-06-17 07:14] physikerwelt opened #50 "Manually edit or create a wikipage on drmf2015 instance"
... for example here
http://drmf2015.wmflabs.org/wiki/MathML

[2015-06-17 07:17] physikerwelt opened #51 "Create a wiki user account on the drmf2015 instace"
* log in
* run ```mwscript createAndPromote.php --bureaucrat --sysop dyiop aSecurePassword```
see also https://www.mediawiki.org/wiki/Manual:CreateAndPromote.php
blocks #50

[2015-06-17 07:21] physikerwelt opened #52 "Customize config"
Learn how the configuration can be customized by enabling the debug toolbar
https://www.mediawiki.org/wiki/Manual:$wgDebugToolbar
Crate a new php file named LocalOverwrite.php on the instance in the folder
/vagrant/settings.d
Switch the config setting for wgDebugToolbar and see the effect on
http://drmf2015.wmflabs.org/wiki/Main_Page

[2015-06-17 07:29] physikerwelt commented on #49
i.e. the command -"git push origin HEAD:refs/for/master" to push for review on gerrit is not optimal
one should use git review instead

[2015-06-17 15:59] Dyiop commented on #52
To make the debug toolbar show up, I added the line "$wgDebugToolbar = true;" to LocalSettings.php

[2015-06-17 16:20] Dyiop commented on #52
Now the toolbar shows up at the bottom of the page.
![screenshot](https://cloud.githubusercontent.com/assets/12139021/8212702/1e37948e-14eb-11e5-8512-0d2c8d6015ec.png)

[2015-06-17 17:01] Dyiop commented on #51
I created a new account with the user name "Dyiop", and was able to login in successfully.

[2015-06-17 17:03] physikerwelt commented on #52
Great. Nie remove that again and put the line to a new file in the proposed folder. Local settings is managed by git and would be overwritten on the next update.

[2015-06-17 17:04] physikerwelt commented on #52
When you are done you can close the task

[2015-06-17 17:05] physikerwelt commented on #51
Well done. You can close this task now.

[2015-06-17 17:06] #51 closed

[2015-06-17 17:07] Dyiop commented on #52
Ok will do

[2015-06-17 17:07] #52 closed

[2015-06-17 17:44] Dyiop commented on #51
Could you link me to documentation on MWsciprt?

[2015-06-17 18:07] Dyiop commented on #50
I manually created and edited a page with the title MathMLtest and gave it the wikitext "Hello, there is text here! More text!!".

 I also gave the page MathML the text "There is text here now!!"

[2015-06-17 18:07] #50 closed

[2015-06-17 18:07] Dyiop commented on #48
The phabricator account creation is broken right now, according to the

[2015-06-17 19:37] Dyiop commented on #49
Major changes: changed "git push origin HEAD:refs/for/master" to "git review"

Minor changes: added some clarifications in places where people may have had confusion.
                          fixed some alignment and spacing issues

![changes](https://cloud.githubusercontent.com/assets/12139021/8216793/c46c0018-1506-11e5-8bde-d90ce8118a80.png)

[2015-06-17 20:15] physikerwelt opened #53 "Highlight query variables"
Currently the mathsearch extension highlights the parts that match the search result.
But the query variables can not be distinguished from the rest of the query.
This issue is about highlighting the query variables in another color.

[2015-06-17 20:18] physikerwelt commented on #53
look at this example search for \sin ?x (?x is the querx variable)
![query](https://www.dropbox.com/s/7b5flxufphrqt4j/Screenshot%202015-06-17%2022.15.33.png?dl=0)
the first result
![screenshot 2014-10-23 21 43 38](https://cloud.githubusercontent.com/assets/2777736/8217591/afa79a06-153e-11e5-8ea8-add83d7e5fea.png)
sin \theta is highlighted in red. But \theta should have a different form of highligh

[2015-06-18 08:42] physikerwelt commented on #49
@Dyiop Did you test all the steps? Especially the PHPStorm description seems to be incorrect. Did you manage to replace the file as described here
http://www.svrnm.de/blog/fixed-netbeans-phpstorm-algorithm-negotiation-fail/
Also it's not mentioned that you need to establish the ssh connection to forward the port 22 to 2222 berfore you can use PhpStorm to upload.
Moreover, I think http://www.formul

[2015-06-18 12:27] HowardCohl opened #54 "Firefox 38.0.1 clickable formulas grossly enlarges when hovering"
In Firefox version 38.0.1 installed locally on our CentOS systems, when the math is clickable (enables navigationi to formula home pages), the math grossly enlarges when one hovers over it. The size should remain the same.

![screenshot-1](https://cloud.githubusercontent.com/assets/4553313/8231048/a22d84e4-1593-11e5-820f-ed8ff0884e88.png)

![screenshot-2](https://cloud.githubusercontent.com/assets

[2015-06-18 12:32] HowardCohl opened #55 "Allow line breaking in DRMF by surrounding LaTeX with \[ ... \]"
Line breaking is selected in DRMF using MediWiki math extension. However, due to a 'feature' in LaTeXML, it will only perform automatic line breaking of math when the math is understood to be not inline.
This can be accomplished by surrounding math in formulas with \[ ... \], then LaTeXML will understand and perform the line breaking.  For instance, if you have a long equation rendered by

<math>

[2015-06-18 12:43] physikerwelt commented on #54
What exactly needs to be done here? The link is inserted by the MathSearch extension.
I expect this is a firefox bug.

[2015-06-18 12:44] physikerwelt commented on #54
A well defined task I can think of is
1) to create a minimal example in plain HTML that shows the behaiviour
2) to report this bug to the FF bugtracker

[2015-06-18 12:45] HowardCohl commented on #54
I suppose we need to examine very closely how the MathSearch extension enables clickability and what happens when you hover.

[2015-06-18 12:47] HowardCohl commented on #54
I know you have some control on this behavior using CSS. For instance in MediaWiki:Common.css, I have the following commands

:focus {outline:none;}
::-moz-focus-inner {border:0;}

This has effect on hovering.

[2015-06-18 12:47] physikerwelt commented on #55
The first step would be to create a minimal example here as.
Make a wikipage with two equations. One that shows correct linebreaking and another where linebreaking does not work.

[2015-06-18 12:51] physikerwelt commented on #54
We do not need to examine how the MathSearch extension inserts links. We can start from the output generated by MediaWiki. But this issue should be investigated independent of the MediaWiki context with plain HTML5 only.

[2015-06-18 12:54] physikerwelt commented on #48
Can you link to the upstream issue on phabricator ?

[2015-06-18 13:12] HowardCohl commented on #55
I can't reproduce the issue using MediaWiki. I think the MediaWiki math extension is removing the \[ and the \]. When I did the test using LaTeXML, I inserted these commands directly into my LateXML request. Have a look at the page: http://drmf.wmflabs.org/wiki/test

[2015-06-18 13:24] HowardCohl commented on #55
We previously tested if you insert the "\\[" ... "\\]" into the request to LaTeXML, it line breaks effectively.

[2015-06-18 13:26] Dyiop commented on #48
They must have fixed the issue overnight, because I was able to sign in today. I have also added myself to the MathSearch extension project.

[2015-06-18 14:34] physikerwelt commented on #55
We need to create an example that works with LaTeXML to identify where in the processing chain the \[ are removed. It can be either MathSearch, Math, LaTeXMLpsgi or LaTeXML itself.

[2015-06-18 15:44] HowardCohl commented on #55
lines break:
[code]
lines don't break
[code]
lines don't break
[code]

[2015-06-18 15:50] physikerwelt commented on #55
ok the next thing is to get through ltxpsgi

[2015-06-18 15:51] physikerwelt commented on #55
see also https://github.com/dginev/LaTeXML-Plugin-ltxpsgi/issues/6

[2015-06-18 15:53] physikerwelt commented on #55
I will create some subtasks

[2015-06-18 15:56] physikerwelt opened #56 "Create a latexmlpsgi test server"
We don't want to destroy the production latexmlpsgi server.
DRMF Specific macros are not required.
Any wmflabs instance could be used
Blocks
#55

[2015-06-18 15:59] physikerwelt opened #57 "test latexmlpsgi"
create a curl command that is equivalent to
[code]
curl -d 'DATA' localhost:8888  | grep mtr
blocks #55

[2015-06-18 16:02] physikerwelt commented on #56
a guide is availible from here
http://www.formulasearchengine.com/LaTeXML

[2015-06-18 17:15] Dyiop commented on #49
Should I install PHPStorm on the local system, because if so I need to get permission first.

[2015-06-18 17:35] physikerwelt commented on #49
you can install it in your home directory

[2015-06-18 17:54] HowardCohl commented on #55
I was thinking about this. It does not matter where the "\\[" and "\\]" are being removed. They should be removed. This is not something you want to manually insert into the Wikitext.  The insertion of the "\\[" and "\\]" should occur behind the scene without the user ever seeing it.

[2015-06-18 18:20] Dyiop commented on #49
It says there is a 30 day free trail, will this be an issue, or should I use something else.

[2015-06-18 18:47] physikerwelt commented on #49
For MediaWiki development free license keys are provided that can be used for MediaWiki specific developments only.

[2015-06-19 15:14] Dyiop commented on #49
In the end what is the goal of configuring PhpStorm, what will it achieve? It is hard to tell from the directions given.

[2015-06-29 14:16] Dyiop commented on #49
Dr. Cohl mentioned to me that this guide has a lot of information but it isn't as easy to follow as the PDF guide you have linked to above. Should I create a PDF like that including all the information I have updated?

[2015-06-29 14:23] physikerwelt commented on #49
Have a look at the github flavoured markdown page (i.e. https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#images) that's easier to maintain than PDF.
see also
https://help.github.com/articles/github-flavored-markdown/
https://help.github.com/articles/markdown-basics/

[2015-06-29 14:26] physikerwelt commented on #49
I renamed the page
https://github.com/DRMF/DRMF/blame/master/doc/upload_and_connect.MD

[2015-06-29 14:27] physikerwelt commented on #49
by the way...on github we usually use nicknames like @HowardCohl rather than Dr. Cohl
This will autmatically notify the person you are talking about

[2015-06-29 18:57] Dyiop commented on #49
Is there anything else I should I add to the guide?

[2015-06-30 07:36] physikerwelt commented on #49
:+1: You did a good job.
I'm missing the git review -d instructions
For example to implmenet the changes here
https://gerrit.wikimedia.org/r/#/c/220760/4
you need to run git review -d If84f6cfb9678f12ed4917fefbc6828ff178e219c
to get the latest version from the repo.
And I don't know why you need to install PHP locally. It's not sufficient to develop mediawiki extensions, since you need the mw api

[2015-06-30 09:58] physikerwelt commented on #55
I propose to add linelength to the math tag such as
<math linelength=40>...</math>

[2015-06-30 12:48] Dyiop commented on #49
I put the "installing PHP" section to help set up a way to test local php files, not necessarily only media wiki files. Also I was planning to add a complete GIT guide to this, as the guide right now is quite unclear about it.

[2015-06-30 14:15] physikerwelt commented on #56
This is task is only required if #57 is not successful.

[2015-07-01 16:24] HowardCohl commented on #55
lines break:
[code]
lines don't break
[code]
lines don't break
[code]

[2015-07-02 09:46] physikerwelt commented on #57
@HowardCohl if you move your comment from #55 here the task is basically solved

[2015-07-02 10:12] physikerwelt commented on #48
@yusufameri1 can you do the same?

[2015-07-02 10:24] HowardCohl commented on #57
lines break:
[code]
lines don't break
[code]
lines don't break
[code]

[2015-07-02 10:24] #57 closed

[2015-07-02 10:33] HowardCohl commented on #49
Can someone point me to a URL where I can cleanly see this guide? I clicked on the link that @physikerwelt inserted but it looks all garbled when I click on it.

[2015-07-02 11:13] physikerwelt commented on #49
https://github.com/DRMF/DRMF/blob/master/doc/upload_and_connect.MD

[2015-07-02 12:54] physikerwelt commented on #49
Maybe we can add a link to https://www.mediawiki.org/wiki/How_to_become_a_MediaWiki_hacker at one or theother place. Maybe some part could also be moved to mediawiki.org (the advante would be that pages on mediawiki.org might be mainted by others as well)

[2015-07-02 14:25] yusufameri1 commented on #48
@physikerwelt I added myself to the MathSearch Project on phabricator

[2015-07-02 15:00] #48 closed

[2015-07-07 21:36] HowardCohl commented on #55
Hi Yusuf, Here are some hints regarding the line breaking task from Moritz. In order to find the code which calls the LaTeXML server:

[2015-07-10 07:43] physikerwelt opened #58 "Improve Wikitext generation"
Currently, the generated wikitext is not human editable.
All repeatable layout elements should be removed.

[2015-07-10 16:00] yusufameri1 commented on #55
@physikerwelt
I changed line 220 of `\MathMathML::getPostData()` to `$out = 'type=inline-TeX&q=' . rawurlencode( '\[ {\displaystyle ' . $input . '} \]' );` but it did not seem to do anything.

I also changed line 84 in `\MathLaTeXML::getLateXMLPostData()` to `$tex = '\[ {\displaystyle ' . $tex . '} \]';` and it still did not work.

I also changed line 143 in `\MathRenderer::getRenderer()` to ` $te

[2015-07-11 11:30] physikerwelt commented on #55
see https://gerrit.wikimedia.org/r/#/c/224229/

[2015-07-11 11:34] physikerwelt commented on #54
@Dyiop any progress here? Could you create a plain HTML test page that shows the problem?

[2015-07-11 11:36] physikerwelt commented on #53
@Dyiop Can you move this issue to https://phabricator.wikimedia.org/

[2015-07-11 15:42] HowardCohl commented on #54
Moritz, can you explain to @Dyiop how to make a formula clickable in plain HTML?

[2015-07-11 17:18] HowardCohl commented on #55
@physikerwelt Can you show me a demo page which indicates that this is working.

I went here and didn't see line breaking.

http://drmf.wmflabs.org/wiki/Continuous_dual_Hahn

[2015-07-11 18:29] physikerwelt commented on #55
http://drmf-beta.wmflabs.org/wiki/LinebreakTest

[2015-07-11 18:36] physikerwelt commented on #54
a

[2015-07-15 14:34] Dyiop commented on #53
https://phabricator.wikimedia.org/T105888

[2015-07-20 13:40] yusufameri1 commented on #56
`{"status_code":0,"result":"<math xmlns=\"http://www.w3.org/1998/Math/MathML\" id=\"p1.1.m1.1\" class=\"ltx_Math\" alttext=\"\\sin+x^{2}\" display=\"inline\">\n  <semantics id=\"p1.1.m1.1a\">\n    <mrow id=\"p1.1.m1.1.5\" xref=\"p1.1.m1.1.5.cmml\">\n      <mi id=\"p1.1.m1.1.1\" xref=\"p1.1.m1.1.1.cmml\">sin</mi>\n      <mo id=\"p1.1.m1.1.2\" xref=\"p1.1.m1.1.2.cmml\">+</mo>\n      <msup id=\"p1.1.

[2015-07-20 13:40] #56 closed

[2015-07-20 15:58] #53 closed

[2015-07-21 20:00] physikerwelt opened #59 "Break down documentation"
At some point in time we might consider to break down the documentation like it is done in thins project
https://github.com/wikimedia/service-template-node/tree/master/doc

[2015-07-22 16:48] HowardCohl commented on #55
Line breaking seems to have stopped working.
See http://drmf-beta.wmflabs.org/wiki/LinebreakTest

[2015-07-22 17:44] physikerwelt commented on #55
It will stop working over and again until https://gerrit.wikimedia.org/r/#/c/224229/ is merged

[2015-07-22 17:47] HowardCohl commented on #55
I don't understand. But I am coming in now. I'll see you in 15-20 minutes.

[2015-07-23 21:31] physikerwelt opened #60 "Enable semantics for Formula and CD Namespaces"
https://semantic-mediawiki.org/wiki/Help:$smwgNamespacesWithSemanticLinks

[2015-09-02 18:04] HowardCohl opened #61 "test pdf"
This is an issue
![screen3](https://cloud.githubusercontent.com/assets/4553313/9639493/4ba17db0-517a-11e5-92a1-d29409c46069.png)

test

--
http://www.nist.gov/itl/math/msg/howard-s-cohl.cfm

-------- Forwarded Message --------
Subject: 	Re: [Dlmf-feedback] Additional material on elliptic integral/function
Date: 	Mon, 15 Jun 2015 14:58:20 +0000
From: 	OLDE DAALHUIS Adri <A.OldeDaalhuis@ed.ac.uk>
To

[2015-09-02 18:05] HowardCohl commented on #61
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxx
XXXXXXXXXXXXXXXXXXXXXXx
XXXXXXXXXXxx
X

[2015-09-02 18:05] HowardCohl commented on #61
Claude,

Please verify when you have received the invite to work on the e-qip. Also, let us know if you need any help.

Best regards, Howard

--
http://www.nist.gov/itl/math/msg/howard-s-cohl.cfm

On 09/02/2015 09:52 AM, White, Ginger wrote:

[2015-09-16 13:29] #61 closed

[2015-12-08 17:13] HowardCohl opened #62 "Output semantic LaTeX"
Why isn't it currently being offered?

[2016-05-04 20:56] physikerwelt opened #63 "Tracking task for Parth (1st week)"
- [x] Create an account at https://wikitech.wikimedia.org/wiki/Main_Page
- [x] Send your username to @physikerwelt and wait to be added to the math instance and wait to be approved use the drmf2016 instance exclusively
- [x] Log in to drmf2016
- [x] Set up a local LaTeXML instance http://formulasearchengine.com/LaTeXML
- [x] Configure the Math extension to use that instance e.g. localhost:8888 cf

[2016-05-04 21:07] plato2000 commented on #63
Username: Plato2000

[2016-05-04 21:12] physikerwelt commented on #63
@plato2000 approved

[2016-05-04 21:22] physikerwelt commented on #63
@plato2000 there is info on how to access the drmf2016 instance on https://github.com/DRMF/DRMF/blob/master/doc/The%20SSH%20Guide.MD
If you see that there is something inaccurate in the file, future students will benefit from improvements you make.

[2016-05-04 21:26] plato2000 commented on #63
1. It doesn't mention that you have to change the INSTANCENAME in the provided config file to whatever instance name its supposed to be (drmf2016 here)
2. I get `ssh: Could not resolve hostname bastion2.wmflabs.org: Name or service not known`

[2016-05-04 21:29] physikerwelt commented on #63
my ssh_config looks like that
[code]
Can you compare that with the upstream file

[2016-05-04 21:34] plato2000 commented on #63
So this allows me to establish a connection, but it still asks for a password (I have uploaded my public SSH keys to both gerrit and MediaWiki).

[2016-05-04 21:36] physikerwelt commented on #63
do you have a password for your private key?

[2016-05-04 21:37] plato2000 commented on #63
No, I left it blank. Leaving the password blank when SSHing doesn't work.

[2016-05-04 21:38] physikerwelt commented on #63
did you use ssh-copy-id?

[2016-05-04 21:39] physikerwelt commented on #63
ah probably you don't need that

[2016-05-04 21:51] plato2000 commented on #63
How do I run the indexing if it doesn't know where php is?

[2016-05-04 21:53] plato2000 commented on #63
Never mind, did `vagrant ssh` and got it

[2016-05-04 21:59] plato2000 commented on #63
[code]
This is after trying to run the indexing command given in the documentation. What is the name of the wiki?

[2016-05-05 01:54] physikerwelt commented on #63
I think the wikiname is **wiki**
You can list all wikis via
[code]
There are two other commands that might be useful
[code]
CreateMWSHarvest was not buid to run in multiwiki setups. Have you tried passing the --wiki=wiki parameter directly to CreateMWSHarvest.php?

[2016-05-05 17:04] plato2000 commented on #63
I tried it your way with the --wiki=wiki, but it still says that the mwscript command must be used. When using the mwscript command, it runs, but says it found 0 results to index.

[2016-05-05 18:47] plato2000 opened #64 "$wgMathDisableTexFilter being reset somewhere"
`$wgMathDisableTexFilter` seems to reset itself to 'never' even after setting it to 'always' in a localSettings.php file. This was resolved temporarily by setting the variable right before its use somewhere in MathRenderer.php, but it seems to have reset itself already. This causes the LaTeXML renderer to not even try to parse custom LaTeX commands.

[2016-05-05 19:55] plato2000 commented on #63
@physikerwelt Where do the localSettings.php files get read from for the extensions? I need to set `$wgMathLaTeXMLUrl='http://localhost:9999'; ` but I don't want to do it from the renderer or something like that.

[2016-05-05 20:10] physikerwelt commented on #63
@plato2000 you can try to put it into the local overwrite file we created

[2016-05-05 20:11] plato2000 commented on #63
@physikerwelt I couldn't find it anywhere, even with a find command
Also, mws works as long as you search for something in its index.

[2016-05-05 20:44] physikerwelt commented on #63
@plato2000 cool that mws works, you should check the box
the file is here
[code]

[2016-05-05 20:57] plato2000 commented on #63
@physikerwelt Ok, for BaseX, running the maven install and it says `Killed` at random times, halting the install process - what could that be?

[2016-05-05 21:10] plato2000 commented on #63
Another issue - when the LaTeXML url is changed to the localhost url, search does not work. Rendering is fine, but the search fails with some ErrorException.

[code]

[2016-05-05 21:18] plato2000 commented on #63
For ^ install LaTeXML search plugin

[2016-05-05 21:45] physikerwelt commented on #63
@plato2000 the repo name is https://github.com/KWARC/LaTeXML-Plugin-MathWebSearch.git

[2016-05-05 21:55] plato2000 commented on #63
@physikerwelt For the maven install, I'm very tempted to just write a script to run it over and over again until it no longer gets killed- should I do it?

[2016-05-05 22:01] physikerwelt commented on #63
I don't have the feeling that that's a good idea.
Maybe it would be worthwhile to look at
http://stackoverflow.com/questions/7278514/maven-compilation-dies-with-killed

[2016-05-05 22:02] plato2000 commented on #63
@physikerwelt For the search plugin - now search runs but doesn't return any results with the localhost server.

[2016-05-05 22:03] plato2000 commented on #63
@physikerwelt I tried using the maxmem thing, copied straight from the example, but it still gets killed with maxmem of 128m

[2016-05-05 22:04] physikerwelt commented on #63
@plato2000 that's ok. I think it will work after we have the DRMF specific commands set up.

maybe try something like 1g 128m does not seem much. Do you run the tests?

[2016-05-05 22:13] plato2000 commented on #63
I didn't run the tests. It compiles with 1g. It needed 448mb apparently (said after finish)

[2016-05-05 22:18] physikerwelt commented on #63
Can you add that to the readme of the mathosphere project? Maybe one should recommend 512m

[2016-05-06 14:37] physikerwelt commented on #63
This is the latexml confing on the xsede server
Listen 8888
<VirtualHost *:8888>
ServerName localhost

PerlOptions +Parent

<Perl>
$ENV{PLACK_ENV} = 'production';
$ENV{LATEXMLINPUTS} = '/home/DRMF';
$ENV{PROFILE} = 'math';
</Perl>

<Location />
SetHandler perl-script
PerlHandler Plack::Handler::Apache2
PerlSetVar psgi_app /usr/local/bin/ltxpsgi
</Location>

ErrorLog /var/log/apache2/latexml.error.

[2016-05-06 15:07] physikerwelt commented on #63
I have mounted the content of `/home/DRMF` folder of the  xsede  instance now into the vagrant instance in /semantic-macros using /vagrant/Vagrant-extrafile.rb
So you should now have all the data to finish the last step

[2016-05-06 15:20] physikerwelt commented on #64
hhvm has been replaced by mwrepl
 * To interactively evaluate PHP and MediaWiki code, run 'mwrepl' or 'mwrepl somewikidbname'.
can you update the drmf2016 instance to the latest vagrant version
in the main instance
[code]
should to the job

[2016-05-06 17:07] physikerwelt opened #65 "Tracking task for Parth (2nd week)"
- [x] Finish remaining task from the [first week](https://github.com/DRMF/DRMF/issues/63)
- [x] Set up remote access from your home computer

## Set up drmf-beta using puppet.
The installation and configuration of the services was a huge effort. Manually doing that takes quite a while and is not really interesting. Therefore there is a special DRMF puppet role that is used to set up our servers ht

[2016-05-09 21:01] plato2000 commented on #63
The configuration file for LaTeXML was removed, as was the BaseX stuff (there is a different cloned version in the home directory, but it does not have the changes made to pom.xml). I have redone both of these. Which directories should I not use (which get overridden)?

[2016-05-09 21:10] plato2000 commented on #63
Now that the new LaTeXML server configuration files are set, everything renders but it apparently can't connect to the MWS server while it is configured to use the local LaTeXML server.

[2016-05-09 21:18] physikerwelt commented on #63
did you install  https://github.com/KWARC/LaTeXML-Plugin-MathWebSearch.git?

[2016-05-09 21:24] plato2000 commented on #65
@physikerwelt
1. Can I just modify the .pp files from the drmf2016 server and commit from there to the repo?
2. What's wrong with the provided mathosphere.pp file that already exists?
3. Would I test that this works by just doing `vagrant provision`?
4. Should the indexing of files also be automated?

[2016-05-09 21:31] physikerwelt commented on #65
@plato2000
1. yes, that would work. But I would prefere if you forked that repo and push into your fork and do a pull request thereafter, so that I can review your changes
2. It does not work ;-)
3. Yes, but be careful since it might overwrite files you changed manually
4. Yes, but probably not this week and not using puppet. Client and server need to communicate to trigger updates, so that this d

[2016-05-09 21:34] plato2000 commented on #63
Apparently, not correctly. Will do that.

[2016-05-09 21:45] plato2000 commented on #63
To install the search plugin, I did `perl Makefile.PL`, `make`, and `sudo make install`. After this did not work, I copied the LaTeXML folder from the lib directory of the search plugin to the LaTeXML directory, and this did not work either.

[2016-05-09 21:47] physikerwelt commented on #63
@plato2000 did it work last time with search and latexml from localhost?

[2016-05-09 21:48] physikerwelt commented on #63
^^ I wonder that the above did not work, how did you verify that the search plugin works doesn't work. A good test is to use a query variable in the request.

[2016-05-09 21:58] plato2000 commented on #63
search has never worked from latexml and localhost, but it has always worked with the default latexml server. I do a search for \gamma and it works with the default server but not for the localhost. Is there some configuration that has to be done for the search plugin?

[2016-05-09 23:15] physikerwelt commented on #63
I get the impression that the search plugin is installed
[code]
It contains <mws:qvar>x</mws:qvar>, which shows that the plugin is active.

[2016-05-10 21:01] plato2000 commented on #63
How would I ensure that the file at `/etc/apache2/sites-available/latexml.conf` does not get deleted on every `vagrant reload`? I have set the folder up as a synced folder and added the file on the drmf machine, but it still deletes from both sides.

[2016-05-11 01:11] physikerwelt commented on #63
^^That has to be configured via a vagrant role. But that's part of #65

[2016-05-11 01:42] physikerwelt commented on #64
^^ I saw you did that
now you see the actual value
[code]

[2016-05-11 01:50] physikerwelt commented on #64
... I found the problem via
[code]
It was in Localsettigs

[2016-05-11 01:50] #64 closed

[2016-05-11 01:50] #63 closed

[2016-05-12 21:04] plato2000 opened #66 "Get performance increase from using LaTeXML server locally"
How much faster is the local LaTeXML server locally? (cc. @HowardCohl)

[2016-05-12 21:04] HowardCohl commented on #66
That was fast! :)

[2016-05-12 21:35] plato2000 commented on #65
[code]
This happened after I just modified my puppet file - the last thing to happen was a crash because of a duplicate declaration of apache2. Then I removed the duplicate and now this happens which seems completely unrelated. The error log does not include the file which I modified.

[2016-05-12 21:38] plato2000 commented on #65
... and now it works with no changes made...

[2016-05-12 22:01] plato2000 commented on #65
https://github.com/DRMF/operations-puppet-drmf/pull/5

That should have everything, if you want to check @physikerwelt

[2016-05-13 22:04] physikerwelt commented on #39
I have now implemented a mechanism that renderers all requests in parallel. However, this is currently enabled for the mathml rendering mode alone.
I would like to move the LaTeXML rendering mode out of the main Math extension to be able to modify it without to worry about breaking anything in production.
https://phabricator.wikimedia.org/T121100

[2016-05-13 22:10] physikerwelt commented on #55
@plato2000 this might been already fixed. But we need to verify that.

[2016-05-13 22:11] physikerwelt opened #67 "Deomonstrate and document the search capabilites of DRMF"
@HowardCohl we should list the current search capabilities here and add to the list whatever is needed.

[2016-05-17 15:48] physikerwelt commented on #65
See my comment on https://github.com/DRMF/operations-puppet-drmf/pull/5 to complete this task-list.

[2016-05-17 15:53] physikerwelt opened #68 "Tracking task for Parth (3rd week)"
- [ ] Develop test cases for math search on drmf
- [ ] Test stability for BaseX backend (monitoring)
- [ ] Extend query language to support BOOLEAN operations
Please come to my office to discuss the details.

[2016-08-18 09:22] physikerwelt commented on #68
@plato2000: @HowardCohl asked me about your progress yesterday. While I apprechiate that you wrote differential progress reports, I could not tell @HowardCohl where exactly you stand. Can you please update the github issues accordingly.
Please also track major issues of other repositories here in the DRMF/DRMF repo, like we did here https://github.com/DRMF/DRMF/issues/65.

[2016-08-18 20:15] plato2000 opened #69 "LaTeXML renderer blanks out on some LaTeX expressions"
For example, [here](http://drmf2016.wmflabs.org/wiki/Formula:ZE.EX.PR02), it renders the fraction 1/2 as \tfrac12 instead of the actual fraction. Oddly enough, the same LaTeX expression (linked to from [here](http://drmf2016.wmflabs.org/wiki/Definition_and_Expansions#ZE.EX.PR02)) it seems to render fine.

[2016-08-18 20:18] plato2000 commented on #69
To clarify, it is the fallback renderer that does this.

[2016-08-18 20:30] plato2000 commented on #68
@physikerwelt I will do that in the future, would you like me to add issues here for the tomcat issue with mathosphere?

Also, what is the reason we are using BaseX instead of MWS? It seems that MWS works and is more stable as well.

[2016-08-22 14:53] plato2000 opened #70 "MathSearch has issues with hit highlighting in both BaseX and MWS"
When performing a MathSearch using the BaseX engine, the hits in each equation are not highlighted. When the same request is done using MWS, only one hit per equation is highlighted. It seems that the difference between the BaseX and the MWS is that in the MWS search, the variable `$xpath` is set to an empty string, causing `$hits` to be null in `displayMathElements`. This means that the `highligh

[2016-08-22 14:55] plato2000 opened #71 "MathSearch seems to not find more than one equation per page, even if there should be multiple hits per page"
For example, using the `Remainder Terms; Stokes Phenomenon` page on drmf2016 searching for `\sum`, it seems that only the first equation with the `\sum` shows up in the search results. It then ignores the rest. It does this in both MWS and BaseX.

[2016-08-22 14:56] plato2000 commented on #71
I did not put this on the Phabricator page since I do not think it is a MathSearch issue - rather, it may be an issue with the indexing or the actual search engines. I lean towards the indexing since it seems to affect both search engines.

[2016-08-22 14:59] physikerwelt commented on #70
@plato2000 please only assign one person per issue

[2016-08-22 15:02] physikerwelt commented on #70
also I'm not sure where the problem comes from. If it's an issue with the MediaWiki extension MathSearch please file an issue here https://phabricator.wikimedia.org/tag/mathsearch/

[2016-08-24 15:44] physikerwelt opened #72 "Set up port forwardinig for drmf2017"
CC: @HowardCohl @plato2000
I'll do that asap.

[2016-08-24 16:57] #65 closed

[2016-08-25 07:42] physikerwelt opened #73 "Test setting up new instance on a fresh vm"
@plato2000 I know that it might sould mean to you... but I think it would be really good to recreate the drmf2017 instance and install everything again exactly following the documentation.
That way we can be sure that we have a setup that works.
@HowardCohl what is your oppinion on that?

[2016-08-25 07:55] physikerwelt commented on #69
@plato2000 I don't know what to do. I think it's better if you assign task eiter to you or to me. However, note that I'm working full time now on another job.

[2016-08-25 11:01] HowardCohl commented on #73
@plato2000 @physikerwelt Yes, I completely agree.

[2016-08-25 11:20] physikerwelt commented on #73
@plato2000 please give me green light, if I can recreate the instance. PS: Do you have a device that you could use for two factor auth (then I can assign the rights to you that you can cerate the instance by yourself)

[2016-08-25 13:27] plato2000 commented on #73
@physikerwelt I agree, at this point I don't know what's wrong and this is probably the best course of action. I do have 2-step verification set up in the wikitech settings.

[2016-08-25 13:37] physikerwelt commented on #73
ok, you are project admin know. Please ask if you are unsure about something?

[2017-03-27 15:57] physikerwelt opened #74 "Define grammar rules"
@HowardCohl can you specify, which grammar rules apply to the DRMF project so that they can be implemented in https://github.com/DRMF/DRMF/blob/master/sources/DRMF.xsl

A human readable description of these rules would be nice as well.

[2018-01-13 08:25] AndreG-P opened #75 "Setup Java backend for DRMF"
* Search engine doesn't work reliable.
* LaTeXML server is slow
* Translation is not available on the website

[2018-02-06 13:38] AndreG-P commented on #75
@physikerwelt
Created an endpoint in vmext-demo. See: http://vmext-demo.wmflabs.org/swagger-ui.html#!/math-controller/translationUsingPOST
As an example, try our use case:
[code]

The response will be a json object:
[code]

[2018-02-07 11:03] physikerwelt commented on #75
@AndreG-P I would prefer one assignee per ticket. otherwise, nobody feels responsible.

[2018-02-08 07:01] AndreG-P commented on #75
Got it, please close this issue when you are happy with the endpoint solution.

[2018-02-18 13:13] physikerwelt commented on #75
I think this is not entirely solved, or?

[2018-02-19 11:56] #72 closed

[2018-02-19 11:56] #69 closed

[2018-02-20 08:48] AndreG-P commented on #75
@physikerwelt Can you specify what's missing and open issues on [vmext-demo](https://github.com/ag-gipp/vmext-demo/issues) accordingly?

[2018-02-21 12:22] physikerwelt commented on #75
Can you please check if the backend implementation solves the 3 issues from the backend perspective and then create a new ticket to reconfigure the demo to use the backend.

- [ ]    Search engine doesn't work reliable.
- [ ]    LaTeXML server is slow
- [ ]   Translation is not available on the website

[2020-12-18 11:21] AndreG-P commented on #75
There is nothing to do here since vmext-demo endpoint is far ahead of this ticket.

[2020-12-18 11:21] #75 closed, assigned to AndreG-P